.nav.navbar-nav a{
	font-size: 
}
.navigation{
	padding-left: 100px;
	height: 65px;
}
.navigation .form-control{
	width: 300px;
	height: 40px;
	font-size: 18px;
}
.navigation .btn{
	font-size: 18px;
}

.content {
	padding-top: 50px;
}
 .navbar-right{
	font-size: 18px;
}
.tourist-places h2{
	font-size: 32px;
	text-align: center;
	font-weight: bold;
}
.tourist-places p{
	text-align: center;
	font-size: 18px;
	color: #969696;
	padding-bottom: 20px;
}


.tourist-places-info{
	background-image: url(maiha.jpg);
	height: 100%;
}


.food{
	padding-top: 30px;
}
.food h1{
	text-align: center;
	padding-bottom: 20px;
}
.travel-experience{
	padding-top: 30px;
}
.travel-experience h1{
	text-align: center;
	padding-bottom: 20px;
}
.footer{
	padding-top: 30px;
	background-color: #262a2e;
}
.footer ul li a{
	list-style-type: none;
	font-size: 16px;
	text-align: left;
	color: white;
	font-weight: bold
}
.footer h3{
	color: white;
	text-align: center;
	font-weight: bold
}
